/* Variables */
.navbar {
  background-color: #f9fafc; }
  .navbar .navbar-brand, .navbar .navbar-nav li a {
    height: 80px;
    line-height: 80px;
    padding-top: 0; }
  .navbar .logo {
    margin-top: 17.5px; }
  .navbar a {
    color: #939393 !important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal; }
  .navbar .jared-logo {
    height: 75px; }
