.body-partition {
  padding-top: 30px;
  padding-bottom: 30px;
}

.body-header {
  font-family: Amaranth;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &.small {
    font-size: 22px;
  }
}

.centered-image {
  margin: 0 auto;
}

.green-body {
  @extend .body-partition;
  background-color: $primary-color;
}

.white-header {
  @extend .body-header;
  color: white;
}

.green-header {
  @extend .body-header;
  color: $primary-color;
}

.grey-header {
  @extend .body-header;
  color: $grey;
}

.paragraph {
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &.bold {
    font-weight: bold;
  }
}

.white-paragraph {
  @extend .paragraph;
  color: white;
}

.grey-paragraph {
  @extend .paragraph;
  color: $grey;
}

.body-image {
  max-width: 100%;
}

// importants where added to overwrite mailchimp's styles
.input {
  padding: 10px 5px !important;
  margin-top: 20px;
  width: 100% !important;
  border-style: none !important;
  border-bottom: solid 1px $light-grey !important;

  font-family: Roboto;
  font-size: 17px;
}

// importants where added to overwrite mailchimp's styles
.form-button {
  height: 50px;
  width: 180px !important;
  margin: 50px auto !important;
  border: 0 !important;
  text-align: center !important;
  background-color: $orange;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

// Mailchimp overwrites
#mce-responses {
  padding: 0 !important;
  margin: 0 !important;
  .response {
    padding: 0 !important;
    margin: 10px 0 !important;
    width: auto !important;
  }
}
