.body-partition {
  padding-top: 30px;
  padding-bottom: 30px;
}

.body-header {
  font-family: Amaranth;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &.small {
    font-size: 22px;
  }
}

.centered-image {
  margin: 0 auto;
}

.green-body {
  @extend .body-partition;
  background-color: $primary-color;
}

.white-header {
  @extend .body-header;
  color: white;
}

.green-header {
  @extend .body-header;
  color: $primary-color;
}

.grey-header {
  @extend .body-header;
  color: $grey;
}

.paragraph {
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &.bold {
    font-weight: bold;
  }
}

.white-paragraph {
  @extend .paragraph;
  color: white;
}

.grey-paragraph {
  @extend .paragraph;
  color: $grey;
}

.body-image {
  max-width: 100%;
}

.input {
  padding: 10px 5px;
  margin-top: 20px;
  width: 100%;
  border-style: none;
  border-bottom: solid 1px $light-grey;

  font-family: Roboto;
  font-size: 17px;
}

.button-container {
  text-align: center;
}

.button {
  height: 50px;
  width: 180px;
  margin: 50px auto;
  border: 0;
  text-align: center;
  background-color: $orange;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}
