.footer {
  background-color: $footer-background;
  padding: 30px;
}

.footer-logo {
  float: right;
}

.footer-text {
  font-family: Roboto;
  color: white;
}

.xl-github-link {
  @extend .footer-text;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

@media (max-width: $screen-xs-max) {
  .footer-logo {
    float: none;
    margin-bottom: 20px;
  }
}
