/* Variables */
$primary-color: #29aaa5;
$orange: #f57a23;

$navbar-background: #f9fafc;
$navbar-font-color: #939393;
$navbar-height: 80px;

$footer-background: #4a4a4a;

.navbar {
  .navbar-brand, .navbar-nav li a {
    height: $navbar-height;
    line-height: $navbar-height;
    padding-top: 0;
  }
  .logo {
    margin-top: (($navbar-height - 45) / 2);
  }
  background-color: $navbar-background;
  a {
    color: $navbar-font-color !important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
