@import "variables";
@import "navbar";
@import "page-header";
@import "body";

html {
  overflow-x: hidden;
}

.marginalized {
  margin-bottom: 60px;
}

.vertically-padded {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padded {
  @extend .vertically-padded;
  padding-left: 30px;
  padding-right: 30px;

}

.separator {
  height: 60px;
}
